/* web/static/webcomponents/pages/ApiKeys/ApiKeys.css */

.api-keys-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between; /* Aligns the button to the right */
    align-items: center; /* Centers vertically with button */
}

#api-keys-list {
    max-width: 80rem;
    padding-left: 2rem;
    padding-right: 2rem;
    list-style-type: none;
    margin: auto;
}

#api-keys-list li {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Aligns items vertically */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}
