<wc-router>
  <wc-route path="/" title="App Home" component="wc-home"></wc-route>
  <wc-route
      path="/connectors"
      title="All Connectors"
      component="connectors-home"
  ></wc-route>
  <wc-route
      path="/connectors/:endpoint_id"
      title="Endpoint"
      component="wc-endpoint"
  ></wc-route>

  <wc-route
      path="/topics"
      title="All Topics"
      component="topics-home"
  ></wc-route>
  <wc-route
      path="/topics/:topic_id"
      title="Topic"
      component="wc-topic"
  ></wc-route>
  <wc-route
      path="/api-keys"
      title="All API Keys"
      component="apikeys-home"
  ></wc-route>

  <wc-route path="*" title="404" component="wc-notfound"></wc-route>
  <wc-outlet></wc-outlet>
</wc-router>
