<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Integrand - Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/login.css">
</head>
<body class="body_overide">
    <main class="loginContainer">
        <div class="loginWrapper">
          <div class="loginHeader">
            <img
              class="logo"
              src="/static/images/logos/integrand-icon-logo.svg"
              alt="integrand"
            />
            <h2 class="title">Sign in to your account</h2>
          </div>
          <div class="signInContainer">
            <div class="wrapper">
              <form class="former" action="/login" method="POST">
                <div>
                  <label for="email" class="labeler">Email address</label>
                  <div class="input-wrapper">
                    <input
                      id="email"
                      name="email"
                      type="text"
                      required=""
                      class="inputter"
                    />
                  </div>
                </div>
                <div>
                  <label for="password" class="labeler">Password</label>
                  <div class="input-wrapper">
                    <input
                      id="password"
                      name="password"
                      type="password"
                      required=""
                      class="inputter"
                    />
                  </div>
                </div>
                <!-- <div class="lx yz zf">
                  <div class="lx yz">
                    <input
                      id="remember-me"
                      name="remember-me"
                      type="checkbox"
                      class="nw rx adp afv ayg bnq"
                    /><label for="remember-me" class="jw lu avz awo axu"
                      >Remember me</label
                    >
                  </div>
                  <div class="avz awo">
                    <a href="#" class="awf ayg ble">Forgot password?</a>
                  </div>
                </div> -->
                <div>
                  <button type="submit" class="submit-button">
                    Sign in
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </main>
</body>